h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    padding: 0;
    
    text-align: center;
  }

  .satisfaction-container {
    text-align: center;
    padding: 40px 0 80px;
  }
  
  .slider-container {
    width: 80%;
    margin: 0 auto;
  }
  
  .slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .slick-slide > div {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 90%;
  }
  
  .stars {
    color: gold;
    margin-bottom: 10px;
  }
  
  h6 {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  p {
    font-size: 1rem;
    color: #333;
  }
  
  .slick-arrow {
    position: absolute;
    bottom: -50px; /* Move below the slider */
    left: 50%;
    transform: translateX(-50%);
    bottom: -70px;
    padding: 10px;

    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 10;
    transition: 0.3s;
  }
  
  .prev {
    left: calc(50% - 40px); /* Adjust to move left */
  }
  
  .next {
    left: calc(50% + 20px); /* Adjust to move right */
  }
  