.input-wrapper {
    height: 2rem;
    border: none;
    border-radius: 50px;
    padding: 0 15px;
    box-shadow: 0px 0px 8px #ddd;
    background-color: #fff;
    display: flex;
    align-items: center;
}

input {
    background-color: transparent;
    border: none;
    height: 100%;
    font-size: 1.05rem;
    width: 100%;
    margin-left: 5px;
}

input:focus {
    outline: none;
}

#search-icon {
    color: black;
    font-size: 1.2rem; /* Adjust size as needed */
}

@media (max-width: 885px) {
    input {
        display: none; /* Hide the input field */
    }

    .input-wrapper {
        justify-content: center; /* Center the search icon */
        padding: 0; /* Remove padding for better alignment */
        width: 2rem; /* Reduce wrapper size to match the icon */
        height: 2rem;
        border-radius: 50%; /* Make it circular */
        box-shadow: none; /* Optional: Remove box-shadow for simplicity */
    }

    #search-icon {
        color: black;
        font-size: 1rem; /* Adjust size as needed */
    }
}
