/* font-family: "Montserrat", sans-serif; */

.item-container {
  margin-top: 50px;
}

.item-container h6 {
  font-size: 1rem;
  padding: 0;
  margin: 0;
}

.item-container h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  padding: 0;
  
  text-align: center;
}

.item-small-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

.item-small-container img {
  width: 250px;
  height: 250px;
}

.item-small-container p {
  padding: 0;
  margin: 0;
}

.yellow-star {
  color: #ffd250;
  margin: 5px 0;
}

.star-rating-container {
  display: flex;
  align-items: center; /* Align items vertically centered */
  gap: 5px; /* Add spacing between stars and text */
}

.rating-text {
  margin-top: 1px;
  color: #555; /* Optional: Adjust the color */
}
